@import "../../_variables.scss";

.header {
  position: fixed;
  margin: 0;
  padding: 10px 20px;
  min-width: 100dvw;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColorDark;
  z-index: 1000;
  gap: 30px;

  &__logo {
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo-img {
    max-width: 100px;
  }

  &__heading {
    font-weight: 900;
    text-transform: uppercase;
    color: $mainTextColor;
  }

  &__nav {
    padding-left: 0;
    gap: 20px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  &__link {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      color: $decorationColor;
      transition: all 0.5s ease;
    }

    &:active {
      scale: 110%;
      transition: all 0.1s ease;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
  }
  &__username {
    color: $decorationColor;
  }
  &__avatar {
    max-height: 50px;
    border-radius: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      flex-direction: column;
      padding: 10px 0;
      align-items: center;
    }
  }
}
