@import "../../_variables.scss";

.feedpost {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: border 0.3s ease;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid white;
  }

  &__heading {
    font-size: 16px;
    text-justify: center;
    cursor: pointer;

    &:hover {
      color: #ffff00;
    }
  }

  &__img {
    width: 350px;
    height: 350px;
    border: 1px solid white;
    object-fit: cover;
    cursor: pointer;
    margin: 10px 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__preview-text {
    font-size: 16px;
    width: 350px;
  }

  &__interaction-icons {
    padding-top: 10px;
    display: flex;
    gap: 20px;
  }

  &__interaction-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      color: #ffff00;
      transition: all 0.5s ease;
    }

    &:active {
      transform: scale(1.2);
      transition: all 0.1s ease;
    }
  }

  &__likes-number {
    color: #ffff00;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__comments-number {
    color: #ffff00;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
