.footer {
  position: inherit;
  margin: -100px;
  height: 100px;
  min-width: 100dvw;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
